<div class="jumbotron">
  <h3>Submitted solutions</h3>
  <table class="table table-responsive">
    <tr>
      <th>User</th>
      <th>Score</th>
      <th>Submitted at</th>
      <th>Reviewed?</th>
      <th></th>
    </tr>
    <tr *ngFor="let testInfo of this.submissionsInfos">
      <td>{{testInfo.studentEmail}}</td>
      <td><b>{{percentStringFormatter.format(testInfo.percentualScore)}}</b></td>
      <td>{{dateTimeFormatter.formatToLocal(testInfo.submittedDateTime)}}</td>
      <td>{{testInfo.isReviewed ? 'YES' : 'NO'}}</td>
      <td><a routerLink="/submissions/{{testInfo.testSubmissionId}}">Detail</a></td>
    </tr>
  </table>
</div>
