<div class="jumbotron">
  <h2>{{courseInfo.name}}</h2>
  <div>
    <b>Course Id:</b> {{courseId}}
  </div>
  <div *ngIf="!isCourseAdmin" class="my-3">
    <button class="btn btn-success" routerLink="/students/{{currentCourseMemberId}}">My Grades</button>
  </div>
</div>

<app-test-list [courseId]="courseId" [isCourseAdmin]="isCourseAdmin"></app-test-list>
<app-file-list [courseId]="courseId" [isCourseAdmin]="isCourseAdmin"></app-file-list>
<app-student-list *ngIf="isCourseAdmin" [courseId]="courseId"></app-student-list>
<app-admin-list *ngIf="isCourseAdmin" [courseId]="courseId"></app-admin-list>
<app-course-forum [courseId]="courseId" [isCourseAdmin]="isCourseAdmin"></app-course-forum>

<div class="jumbotron">
  <div *ngIf="isCourseAdmin">
    <button class="btn btn-danger" (click)="removeCurrentAdmin()">Leave this course</button>
  </div>
  <div *ngIf="!isCourseAdmin">
    <button class="btn btn-danger" (click)="removeCurrentMember()">Leave this course</button>
  </div>
</div>
