<div>
  <h2>Create new test</h2>
  <form class="jumbotron">
    <div class="form-group">
      <label for="testTopic">Topic</label>
      <input type="text" class="form-control" id="testTopic" [(ngModel)]="testToCreate.topic" name="testTopic">
    </div>
    <div class="form-group">
      <label for="testWeight">Weight</label>
      <input type="number" class="form-control" id="testWeight" [(ngModel)]="testToCreate.weight"
             name="weight">
    </div>
    <div class="form-group">
      <label for="questionCountInput">Question count</label>
      <input type="number" class="form-control" id="questionCountInput" [(ngModel)]="this.questionCount"
             name="questionCount">
    </div>
    <button type="button" class="btn btn-primary" (click)="updateQuestionCount()">Apply</button>
  </form>
  <form>
    <div class="jumbotron" *ngFor="let question of testToCreate.questions">
      <h3>Question {{question.number}}</h3>
      <div class="form-group">
        <label for="questionText{{question.number}}">Question text</label>
        <input type="text" class="form-control" id="questionText{{question.number}}"
               [(ngModel)]="question.questionText" name="questionText{{question.number}}">
      </div>
      <div class="form-group">
        <label for="questionAnswer{{question.number}}">Correct answer</label>
        <input type="text" class="form-control" id="questionAnswer{{question.number}}"
               [(ngModel)]="question.correctAnswer" name="questionAnswer{{question.number}}">
      </div>
      <div class="form-group">
        <label for="questionPoints{{question.number}}">Points</label>
        <input type="number" class="form-control" id="questionPoints{{question.number}}"
               [(ngModel)]="question.points" name="questionPoints{{question.number}}">
      </div>
    </div>
  </form>
  <button *ngIf="testToCreate.questions.length > 0" type="button" class="btn btn-success" (click)="createTest()">Create</button>
</div>
