<div class="jumbotron">
  <h2>Create new test</h2>
</div>
<form class="jumbotron">
  <div class="form-group">
    <label for="testTopic">Topic</label>
    <input type="text" class="form-control" id="testTopic" [(ngModel)]="testToCreate.topic" name="testTopic">
  </div>
  <div class="form-group">
    <div>Is this test graded?</div>

    <div class="form-check">
      <input class="form-check-input" type="radio" name="testIsGraded" id="testIsGradedTrue" [(ngModel)]="testToCreate.isGraded" [value]="true">
      <label class="form-check-label" for="testIsGradedTrue">
        Yes
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="testIsGraded" id="testIsGradedFalse" [(ngModel)]="testToCreate.isGraded" [value]="false">
      <label class="form-check-label" for="testIsGradedFalse">
        No
      </label>
    </div>
  </div>
  <div class="form-group">
    <label for="testWeight">Weight</label>
    <input type="number" class="form-control" id="testWeight" [(ngModel)]="testToCreate.weight"
           name="weight">
  </div>
  <div class="form-group">
      <label for="testDeadlineDate">Deadline</label>
      <input type="date" class="form-control" id="testDeadlineDate" [(ngModel)]="dateTimeBinder.date"
             name="testDeadlineDate">
      <input type="time" class="form-control" id="testDeadlineTime" [(ngModel)]="dateTimeBinder.time"
             name="testDeadlineTime">

  </div>
  <div class="form-group">
    <label for="questionCountInput">Question count</label>
    <input type="number" class="form-control" id="questionCountInput" [(ngModel)]="this.questionCount"
           name="questionCount">
  </div>
  <button type="button" class="btn btn-primary" (click)="updateQuestionCount()">Apply</button>
</form>
<form>
  <div class="jumbotron" *ngFor="let question of testToCreate.questions">
    <h3>Question {{question.number}}</h3>
    <div class="form-group">
      <label for="questionText{{question.number}}">Question text</label>
      <input type="text" class="form-control" id="questionText{{question.number}}"
             [(ngModel)]="question.questionText" name="questionText{{question.number}}">
    </div>
    <div class="form-group">
      <label for="questionAnswer{{question.number}}">Correct answer</label>
      <input type="text" class="form-control" id="questionAnswer{{question.number}}"
             [(ngModel)]="question.correctAnswer" name="questionAnswer{{question.number}}">
    </div>
    <div class="form-group">
      <label for="questionPoints{{question.number}}">Points</label>
      <input type="number" class="form-control" id="questionPoints{{question.number}}"
             [(ngModel)]="question.points" name="questionPoints{{question.number}}">
    </div>
  </div>
</form>
<div class="my-3">
  <button *ngIf="testToCreate.questions.length > 0" type="button" class="btn btn-success" (click)="createTest()">
    Create
  </button>
</div>
