<h3>Question {{question.number}}</h3>

<div>
  Select question type:
  <div class="form-check">
    <input class="form-check-input" type="radio" name="questionType{{question.number}}"
           id="questionType{{question.number}}TextAnswer"
           [(ngModel)]="question.type" [value]="QuestionType.TextAnswer">
    <label class="form-check-label" for="questionType{{question.number}}TextAnswer">
      Text answer (textbox)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="questionType{{question.number}}"
           id="questionType{{question.number}}SingleChoice"
           [(ngModel)]="question.type" [value]="QuestionType.SingleChoice">
    <label class="form-check-label" for="questionType{{question.number}}SingleChoice">
      Answer with single choice (radio buttons)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="radio" name="questionType{{question.number}}"
           id="questionType{{question.number}}MultipleChoice"
           [(ngModel)]="question.type" [value]="QuestionType.MultipleChoice">
    <label class="form-check-label" for="questionType{{question.number}}MultipleChoice">
      Answer with multiple choices (checkboxes)
    </label>
  </div>
</div>

<div *ngIf="hasTextAnswer()">
  <div class="form-group">
    <label for="questionText1{{question.number}}">Question text</label>
    <textarea class="form-control" id="questionText1{{question.number}}"
              [(ngModel)]="question.questionText" name="questionText{{question.number}}"></textarea>
  </div>
</div>

<div *ngIf="!hasTextAnswer()">
  <div class="form-group">
    <label for="questionText2{{question.number}}">Question text</label>
    <textarea class="form-control" id="questionText2{{question.number}}"
              [(ngModel)]="questionWithAnswerChoices.questionText" name="questionText{{question.number}}"
              (focusout)="serializePossibleAnswers()"></textarea>
  </div>

  <div class="form-group">
    <label for="answerCountInput">Answer count</label>
    <input type="number" min="1" max="10" class="form-control" id="answerCountInput"
           [(ngModel)]="this.possibleAnswersCount"
           name="answerCount">
    <button type="button" class="btn btn-primary" (click)="updateChoicesCount()">Apply</button>
  </div>

  <div>
    <ul class="list-group">
      <li *ngFor="let choice of this.questionWithAnswerChoices.possibleAnswers" class="list-group-item">
        <label for="answerChoice{{choice.answerLetter}}"><b>{{choice.answerLetter}}</b></label>
        <input type="text" class="form-control" id="answerChoice{{choice.answerLetter}}"
               name="answerChoice{{choice.answerLetter}}"
               [(ngModel)]="choice.answerText" (focusout)="serializePossibleAnswers()"/>
      </li>
    </ul>
  </div>
</div>

<div class="form-group">
  <label for="questionAnswer{{question.number}}">Correct answer</label>
  <textarea class="form-control" id="questionAnswer{{question.number}}"
            [(ngModel)]="question.correctAnswer" name="questionAnswer{{question.number}}"></textarea>
</div>

<div class="form-group">
  <label for="questionPoints{{question.number}}">Points</label>
  <input type="number" min="0" class="form-control" id="questionPoints{{question.number}}"
         [(ngModel)]="question.points" name="questionPoints{{question.number}}">
</div>
