<div class="jumbotron">
  <h3>Shared files</h3>
  <table class="table table-striped table-responsive">
    <tr *ngFor="let file of this.uploadedFiles">
      <td><span class="btn btn-link" (click)="downloadFile(file.id, file.name)">{{file.name}}</span></td>
      <td *ngIf="isCourseAdmin">
        <button class="btn btn-danger" (click)="removeFile(file.id)">Remove</button>
      </td>
    </tr>
  </table>
</div>
<div class="jumbotron" *ngIf="isCourseAdmin">
  <h3>Add new file</h3>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="addFileForm_File">File</label>
        <input type="file" #inputFile class="form-control" name="file" id="addFileForm_File" formenctype="multipart/form-data" (change)="onFileSelect($event)" required/>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" (click)="uploadFile()">Add this file</button>
  </form>
</div>
