<div class="jumbotron">
  <h3>Students</h3>
  <table class="table table-striped table-responsive">
    <tr>
      <th>Username</th>
      <th></th>
      <th></th>
    </tr>
    <tr *ngFor="let person of students">
      <td class="align-middle">{{person.name}}</td>
      <td><a class="btn btn-link" (click)="pageNavigator.navigateToStudentDetail(person.id)">Details</a></td>
      <td>
        <button class="btn btn-danger" (click)="removeMember(person)">Remove</button>
      </td>
    </tr>
  </table>
  <div class="my-2">
    <div>
      <button class="btn btn-info" (click)="pageNavigator.navigateToCourseEnrollmentRequests(courseId)">Enrollment requests</button>
    </div>
  </div>
</div>
