<div class="jumbotron">
  <h2>{{courseTest.topic}}</h2>
  <div>Weight: {{courseTest.weight}}</div>
  <div>Deadline: {{dateTimeFormatter.formatToLocal(courseTest.deadline)}}</div>
</div>
<div class="jumbotron" *ngFor="let question of courseTest.questions">
  <h3>Question {{question.number}}</h3>
  <div>{{question.questionText}}</div>
  <div>Correct answer: {{question.correctAnswer}}</div>
  <div>Points: {{question.points}}</div>
</div>

<div class="my-3">
  <button type="button" class="btn btn-warning" routerLink="/tests/edit/{{testId}}">Edit</button>
</div>

<app-test-submission-list [testId]="testId"></app-test-submission-list>
