<div class="jumbotron">
  <h3>Tests</h3>
  <table class="table table-striped table-responsive">
    <tr>
      <th>Topic</th>
      <th>Score</th>
      <th>Weight</th>
      <th>Submitted at</th>
      <th>Reviewed</th>
    </tr>
    <tr *ngFor="let submission of testSubmissions">
      <td>
        <a routerLink="/submissions/{{submission.testSubmissionId}}">{{submission.testTopic}}</a>
      </td>
      <td>
        <b>{{getPercentString(submission.percentualScore)}}</b>
      </td>
      <td>
        {{submission.testWeight}}
      </td>
      <td>
        {{submission.submittedDateTime}}
      </td>
      <td>
        {{submission.isReviewed ? 'YES' : 'NO'}}
      </td>
    </tr>
  </table>
</div>
