<div class="jumbotron">
  <h3>Administrators</h3>
  <table class="table table-striped table-responsive">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
    <tr *ngFor="let admin of admins">
      <td>{{admin.name}}</td>
      <td>{{admin.email}}</td>
      <td>Remove</td>
    </tr>
  </table>

  <div>
    <b>Add new admin</b>
    <form>
      <div class="form-group">
        <label for="adminId">Person ID</label>
        <input type="text" class="form-control" name="adminId" id="adminId" placeholder="Person ID" required
               [(ngModel)]="this.adminIdToAdd.value">
      </div>
      <button type="button" class="btn btn-primary" (click)="addAdmin()">Add</button>
    </form>
  </div>
</div>
